/* -------  variables -----*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

/* ---------------------- Global styles -------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background: #f2f1f8;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #3f3d4e; }

li {
  list-style: none; }

::selection {
  background-color: #7ac483; }

.bbody-container {
  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end grid-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [grid-end]; }

body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.7;
  color: #3f3d4e;
  backface-visibility: hidden; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.skills {
  padding: 3rem 0 8rem 0;
  position: relative; }
  @supports (display: grid) {
    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
      gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .skills {
      width: 100%;
      grid-template-columns: minmax(35rem, 1fr); } }
  .skills .skill {
    background: #f2f1f8;
    float: left;
    width: 31%;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    margin: -8rem 1% 0 1%;
    padding: 3rem 2.5% 4rem 2.5%;
    text-align: center;
    position: relative;
    border-radius: .5rem;
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.8);
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
    z-index: 10; }
    @supports (display: grid) {
      .skills .skill {
        width: auto; } }
    @media only screen and (max-width: 56.25em) {
      .skills .skill {
        margin-top: 0; } }
    .skills .skill h3 {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 2.5rem;
      color: #3f3d4e; }
    .skills .skill .dev-icons {
      display: flex;
      justify-content: center; }
      .skills .skill .dev-icons .fab, .skills .skill .dev-icons .fas {
        margin: 0 10px 10px 10px;
        font-size: 2.5rem; }
    .skills .skill p {
      padding: 0 0 2rem 0;
      color: #3f3d4e; }

/* ---------------------- Contact section  -------------*/
#contact-cta {
  align-items: center;
  background: #f2f1f8;
  padding: 6rem 0 12rem 0;
  text-align: center; }
  #contact-cta .title {
    font-size: 3.5rem;
    color: #3f3d4e;
    font-weight: 600;
    margin: 0; }
  #contact-cta .sub_title {
    color: #b9b7c6;
    font-size: 2.2rem;
    text-align: center;
    width: 600px;
    max-width: 100%;
    display: block;
    margin: 1rem auto 4rem auto; }

.contact {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  min-height: 100vh;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .contact {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .contact__content {
    background: #122647;
    position: relative;
    height: 70vh;
    width: 90%;
    max-width: 110rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact__content .form {
      width: 50%;
      background: red; }
      .contact__content .form__group:not(:last-child) {
        margin-bottom: 2rem; }
      .contact__content .form__input, .contact__content .form__text {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        color: inherit;
        transition: all 0.3s; }
        @media only screen and (max-width: 56.25em) {
          .contact__content .form__input, .contact__content .form__text {
            width: 100%; } }
        .contact__content .form__input:focus, .contact__content .form__text:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid #7ac483; }
      .contact__content .form__text {
        padding: 10rem 0; }

.btn-box {
  width: 35vw;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem; }
  @media only screen and (max-width: 75em) {
    .btn-box {
      width: 50%; } }

.btn, .btn:visited, .btn:link {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  padding: .8rem 6rem;
  margin: 0 1rem;
  outline: none;
  border-radius: 3rem;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active, .btn:focus {
  /* clicked */
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn--highlight {
  background-color: #7ac483; }

.btn--secondary {
  border: 2px rgba(250, 250, 250, 0.35) solid; }

.btn--black {
  background: #3f3d4e;
  border-radius: none; }

.btn--small {
  padding: .3rem 1.5rem; }

.btn--large {
  padding: 1rem 5rem;
  font-size: 1.35rem; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(51, 34, 61, 0.8)), url("../../images/Hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
  backface-visibility: hidden;
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center; }
  .header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between; }
  .header__navigation {
    backface-visibility: hidden; }
    @media only screen and (min-width: 75em) {
      .header__navigation {
        display: none; } }
    @media only screen and (min-width: 112.5em) {
      .header__navigation {
        display: none; } }
    .header__navigation .navigation-checkbox {
      display: none; }
    .header__navigation .navigation-button {
      background-color: #ffffff;
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 3.5rem;
      right: 5rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer; }
      @media only screen and (max-width: 56.25em) {
        .header__navigation .navigation-button {
          top: 4rem;
          right: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__navigation .navigation-button {
          top: 3rem;
          right: 3rem; } }
    .header__navigation .navigation-background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 3.5rem;
      right: 5.5rem;
      background-image: radial-gradient(#b9b7c6, #3f3d4e);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
      @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        .header__navigation .navigation-background {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(5px);
          background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(51, 34, 61, 0.9)); } }
      @media only screen and (max-width: 56.25em) {
        .header__navigation .navigation-background {
          top: 4.5rem;
          right: 4.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__navigation .navigation-background {
          top: 3.5rem;
          right: 3.5rem; } }
    .header__navigation .navigation-nav {
      height: 100vh;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .header__navigation .navigation-list {
      color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-decoration: none;
      text-align: center;
      width: 100%; }
    .header__navigation .navigation-item {
      margin: 1rem; }
    .header__navigation .navigation-link:link, .header__navigation .navigation-link:visited {
      color: #ffffff;
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
      background-size: 250%;
      transition: all 0.4s; }
    .header__navigation .navigation-link:hover, .header__navigation .navigation-link:active {
      background-position: 100%;
      color: #3f3d4e;
      transform: translateX(1rem); }
    .header__navigation .navigation-link span {
      display: inline-block;
      margin-right: .5rem; }
    .header__navigation .navigation-checkbox:checked ~ .navigation-background {
      transform: scale(70); }
    .header__navigation .navigation-checkbox:checked ~ .navigation-nav {
      width: 100%;
      opacity: 1; }
    .header__navigation .navigation-icon {
      position: relative;
      margin-top: 3.5rem; }
      .header__navigation .navigation-icon, .header__navigation .navigation-icon::before, .header__navigation .navigation-icon::after {
        height: 2px;
        width: 3rem;
        background-color: #3f3d4e;
        display: inline-block; }
      .header__navigation .navigation-icon::before, .header__navigation .navigation-icon::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      .header__navigation .navigation-icon::before {
        top: -.8rem; }
      .header__navigation .navigation-icon::after {
        top: .8rem; }
    .header__navigation .navigation-button:hover .navigation-icon::before {
      top: -1rem; }
    .header__navigation .navigation-button:hover .navigation-icon::after {
      top: 1rem; }
    .header__navigation .navigation-checkbox:checked + .navigation-button .navigation-icon {
      background-color: transparent; }
    .header__navigation .navigation-checkbox:checked + .navigation-button .navigation-icon::before {
      top: 0;
      transform: rotate(135deg); }
    .header__navigation .navigation-checkbox:checked + .navigation-button .navigation-icon::after {
      top: 0;
      transform: rotate(-135deg); }
  .header__nav {
    margin-right: -8%; }
    @media only screen and (max-width: 75em) {
      .header__nav {
        display: none; } }
    .header__nav .nav-item {
      color: #ffffff;
      font-weight: 400;
      font-size: 1.8rem;
      text-decoration: none; }
      .header__nav .nav-item:not(:last-child) {
        margin-right: 3rem; }
  .header__logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    margin-left: -8%;
    text-decoration: none; }
    .header__logo .logo-name::first-letter {
      font-size: 4rem;
      font-weight: bold; }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        margin-left: 3%; } }
    @media only screen and (max-width: 75em) {
      .header__logo {
        margin-left: 2%; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        display: none; } }
  .header__content {
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    padding: 10rem 0 12rem 0; }
    @media only screen and (max-width: 75em) {
      .header__content {
        padding: 15rem 0 10rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .header__content {
        padding: 0 auto;
        margin: 5rem 0 auto 0; } }
    .header__content .heading-primary, .header__content .subtitle {
      color: #ffffff;
      text-align: center; }
    .header__content .heading-primary {
      justify-self: center;
      font-weight: 500;
      font-size: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .header__content .heading-primary {
          font-size: 4rem; } }
    .header__content .subtitle {
      font-weight: 300;
      font-size: 2.4rem;
      width: 500px;
      margin: 0 auto 2rem auto;
      line-height: 1.2; }
      @media only screen and (max-width: 56.25em) {
        .header__content .subtitle {
          font-size: 3.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__content .btn {
        display: none; } }

footer {
  background: #3f3d4e;
  padding: 6rem 0; }
  footer .copyright {
    font-size: 1.5rem;
    font-weight: 700;
    color: #b9b7c6;
    text-align: center; }
  footer a {
    text-decoration: none;
    color: #7ac483; }
  footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    footer .social-icons .fab, footer .social-icons .fas {
      margin: 2.5rem .8rem 0 .8rem;
      padding: .8rem;
      color: #b9b7c6;
      font-size: 2.5rem;
      cursor: pointer; }

/* ---------------------- Projects section  -------------*/
#projects {
  background-color: #f2f1f8;
  color: #3f3d4e;
  text-align: center; }
  #projects h2 {
    color: inherit;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-bottom: 1.5rem; }
    #projects h2::after {
      content: " ";
      background: #7ac483;
      width: 50%;
      height: 0.3rem;
      top: 90%;
      bottom: 0;
      left: 25%;
      position: absolute; }
  #projects .sub-title {
    color: inherit;
    text-align: center;
    font-size: 2rem; }
  #projects .project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 3rem;
    margin: 4rem 0 6rem 0;
    padding: 3rem;
    border-bottom: 1px solid #b9b7c6; }
    #projects .project .project-image {
      width: 100%;
      height: 100%; }
    #projects .project .project-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: .35rem;
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      color: #3f3d4e;
      padding: 2rem;
      margin: 1.5rem 0; }
      #projects .project .project-text .project-title {
        font-size: 2rem;
        font-weight: 700;
        margin-left: 2rem; }
      #projects .project .project-text .project-description {
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.3;
        padding: 2rem;
        text-align: left; }
      #projects .project .project-text .tools {
        text-align: left;
        margin: 1.5rem 1.5rem 0 1.5rem;
        font-weight: 300;
        font-size: 2rem; }
      #projects .project .project-text .btn-box a {
        border-radius: none; }

.filter-section {
  text-align: center; }
  .filter-section .title {
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin: 5rem 0; }
    .filter-section .title::after {
      content: " ";
      margin: 1rem;
      background: #7ac483;
      width: 70%;
      height: 7%;
      top: 90%;
      bottom: 0;
      left: 15%;
      position: absolute; }
  .filter-section .isotape .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
    grid-gap: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .filter-section .isotape .container {
        width: 100%;
        grid-template-columns: minmax(25rem, 1fr); } }
    .filter-section .isotape .container .card {
      border-radius: .5rem;
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      margin: 3rem 1rem;
      padding: 1.5rem .5rem;
      animation: fadein 3s; }
      .filter-section .isotape .container .card img {
        width: 100%; }
      .filter-section .isotape .container .card .project-title {
        font-size: 2rem;
        text-align: left;
        padding: 10px 0;
        margin-left: 2.5rem; }
      .filter-section .isotape .container .card p {
        text-align: left;
        color: #3f3d4e;
        font-weight: 300;
        font-size: 1.8rem;
        margin-left: 2.5rem;
        padding: 10px 0;
        line-height: 1.5; }
