@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";

.cf:after{
    clear: both;
}

.wrapper{
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}
.btn{
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .6rem 3.5rem;
    font-weight: 400;
    // letter-spacing: 0.05rem;
    text-decoration: none;
    color: $white;
    // transition: all 0.3s ease-in-out;
}

.btn_highlight{
    background: $highlight;
}

.btn_black{
    background: $dark_grey;
    border-radius: none;    
}

.btn_secondary{
    border: 2px rgba(250, 250, 250, 0.35) solid;
    background: transparent;
}

.btn_small{
    padding: .3rem 1.5rem;
}

.btn_large{
    padding: 1rem 5rem;
    font-size: 1.35rem;
}
/* ---------------------- Hero section  -------------*/
#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(51, 34, 61, 0.8)),
    url("../images/Hero.jpg");
    // height: 700px;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    // text-align: center;
    color: $white;
    header{
        padding: 2rem 0;
    }
    #logo{
        color: $white;
        font-weight: 700;
        float: left;
        font-size: 1.35rem;
        margin: 0;
        text-decoration: none;
        &::first-letter{
            font-size: 1.5rem;
            // text-transform: uppercase;
        }
    }
    nav{
        float: right;
        a{
            color: $white;
            font-weight: 400;
            font-size: 0.9rem;
            text-decoration: none;
            margin-left: 2rem;
        }
    }
    .hero-content{
        padding: 4rem 0 8rem 0;
        .title, .subtitle{
            color: $white;
            text-align: center;
        }
        .title{
            font-weight: 500;
            font-size: 2.7rem;
        }
        .subtitle{
            font-weight: 300;
            font-size: 1.5rem;
            width: 500px;
            margin: 0 auto 2rem auto;
            line-height: 1.75rem;
        }
        .btn-wrapper{
            text-align: center;
            margin: 3rem 0;
            .btn{
                margin: 0 1rem ;
            }
        }
    }
    
}

/* ---------------------- Skill section  -------------*/

#skills{
    background: $grey_backgorund;
    padding: 2rem 0 6.5rem 0;
    position: relative;
    .skill{
        background: $grey_backgorund;
        width: 31%;
        height: 330px;
        font-weight: 300;
        font-size: 1.35rem;
        line-height: 1.5;
        // letter-spacing: .1rem;
        float: left;
        margin: -5rem 1% 0 1%;
        padding: 3rem 2.5% 4rem 2.5%;
        text-align: center;
        position: relative;
        border-radius: .35rem;
        box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
        -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
        -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
        h3{
            margin: 0;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            color: $dark_grey;
        }
        .dev-icons{
            display: inline-block;
            .fab,.fas{
                margin: 0 10px 10px 10px;
                font-size: 2.5rem;
            }
        }
        p{
            padding: 0 0 2rem 0;
            color: $dark_grey;
        }
        // .btn{
        //     padding: .6rem .6rem;
    
        // }
    }
}

/* ---------------------- Projects section  -------------*/

#projects{
    background-color:$grey_backgorund;
    // padding: 3rem 0 0rem 0;
    color: $dark_grey;
    text-align: center;
    h2{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin-bottom: 1rem;
        &::after{
            content: " ";
            background: $highlight;
            width: 50%;
            height: 0.3rem;
            top: 90%;
            bottom: 0;
            left: 25%;
            position: absolute;
        }
    }
    .sub-title{
        text-align: center;
        font-weight: 300;
        font-size: 1.3rem;   
    }
    .project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        margin: 100px 0;
        border-bottom: 1px solid $grey_copy;
        
        .project-image{
            width: 100%;
            height: 100%;    
        }
        .project-text{
            border-radius: .35rem;
            box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            color: $dark_grey;
            width: 500px;
            height: 300px; 
            padding: 1.35rem;
            margin: 1.5rem 0;
            .project-title{
                font-size: 1.5rem;
                font-weight: 600;
                text-align: left;
                display: inline-block;
                // margin-bottom: 1rem;

            }
            .project-description{
                font-weight: 300;
                font-size: 1.5rem;
                line-height: 1.3;
                // margin-top: 50px;
                // padding: 2rem;
                text-align: center;
            }
            .btn_wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around ;
                margin-top: 3rem;
                a{
                    padding: 1rem 3rem;
                    border-radius: none;
                    
                }
            }
            
        }
    }
}

/* ------------------- Other project with filter taps  -----------*/
#filter-section{
    background: $grey_backgorund;
    color: $dark_grey;
    text-align: center;
    .title{
        // text-align: center;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin-top: 2rem;
        &::after{
            content: " ";
            margin: .5rem;
            background: $highlight;
            width: 50%;
            height: 0.3rem;
            top: 90%;
            bottom: 0;
            left: 25%;
            position: absolute;
        }
    }
    .filter-tabs{
        ul li{
            list-style-type: none;
            display: inline-block;
            margin: 25px 20px;
            align-items: center;
            a{
                display: inline-block;
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: $highlight;
                }
                &.active{
                    color: $highlight;
                }
            }
        }
    }
    .isotape{
        .container{
            width: 31%;
            // max-width: 1170px;
            // margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .card{
                border-radius: .35rem;
                box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                margin: 3rem 1rem;
                padding: 1rem .3rem;
                // transition: all 1s ease-out;
                animation: fadein 3s;
                img{
                    width: 340px;
                    height: 100%;
                }
                .project-title{
                    text-align: left;
                    padding: 10px 0;
                    margin-left: 2.5rem;
                }
                p{
                    text-align: left;
                    margin-left: 2.5rem;
                    padding: 10px 0;
                    line-height: 1.5;
                }
            }
        }
    }
    

}

@keyframes fadein{
    from {
        opacity: 0;
        // zoom: 0;
    }
    to{
        opacity: 1;
        // zoom: 1;
    }
}

/* ---------------------- Contact section  -------------*/

#contact{
    align-items: center;
    background: $grey_backgorund;
    // margin-top: 50px;
    padding: 4rem 0 8rem 0;
    text-align: center;
    .title{
        font-size: 2.5rem;
        color: $dark_grey;
        font-weight: 600;
        margin: 0;
    }
    .sub_title{
        color: $grey_copy;
        font-size: 1.5rem;
        text-align: center;
        width: 600px;
        max-width: 100%;
        display: block;
        margin: 1rem auto 4rem auto;
    }
}

footer{
    background: $dark_grey;
    padding: 4rem 0;
    .copyright{
        font-weight: 700;
        color: $grey_copy;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: $highlight;
    }
    .social-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .fab,.fas{
            margin: 1.5rem .5rem 0 .5rem;
            padding: .4rem;
            color: $grey_copy;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

}