
.filter-section{
    text-align: center;
    .title{
        font-size: 3rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin: 5rem 0;
        &::after{
            content: " ";
            margin: 1rem;
            background: $color-primary;
            width: 70%;
            height: 7%;
            top: 90%;
            bottom: 0;
            left: 15%;
            position: absolute;
        }
    }
    .isotape{
        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
            grid-gap: 4rem;
            @include responsive(phone){
                width: 100%;
                grid-template-columns:  minmax(25rem, 1fr);
            }
            .card{
                border-radius: .5rem;
                box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                margin: 3rem 1rem;
                padding: 1.5rem .5rem;
                animation: fadein 3s;
                img{
                    width: 100%;
                }
                .project-title{
                    font-size: 2rem;
                    text-align: left;
                    padding: 10px 0;
                    margin-left: 2.5rem;
                }
                p{
                    text-align: left;
                    color: $color-dark-grey;
                    font-weight: 300;
                    font-size: 1.8rem;
                    margin-left: 2.5rem;
                    padding: 10px 0;
                    line-height: 1.5;
                }
            }
        }
    }
    

}
