/* -------  variables -----*/

// colors
$color-grey: #f2f1f8;
$color-primary:#7ac483;
$color-white:#ffffff;
$color-dark-grey:#3f3d4e;
$color-light-grey:#b9b7c6;;
$color-black:#000;
$color-danger:#ff7730;



// Font
$default-font-size:1.6rem;

// grids
$grid-width:100rem;
$vertical-space:8rem;
$responsive-vertical-space:6rem;
$horizontal-space:6rem;