
/* ---------------------- Contact section  -------------*/

#contact-cta{
    align-items: center;
    background: $color-grey;
    padding: 6rem 0 12rem 0;
    text-align: center;
    .title{
        font-size: 3.5rem;
        color: $color-dark-grey;
        font-weight: 600;
        margin: 0;
    }
    .sub_title{
        color: $color-light-grey;
        font-size: 2.2rem;
        text-align: center;
        width: 60rem;
        max-width: 100%;
        display: block;
        margin: 1rem auto 4rem auto;
    }
}

// popup
.contact{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    width: 100%;
    min-height: 100vh;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    @supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)){
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        background-color: rgba($color-black, 0.3);
    }
    &__content{
        background:$color-dark-grey; //#122647;
        position: relative;
        height: 90vh;
        width: 90%;
        max-width: 110rem;
        @include responsive(tablet){
            height: 100vh;
        }
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: scale(.25);   
        transition: all .5s .2s; 
        .contact-info{
            color: $color-grey;
            order: 2;
            background-color: rgba($color-white, 0.1);
            flex-basis: 40%; 
            margin-top: 5rem;
            padding: 3rem 3rem;
            @include responsive(tablet){
                flex-basis: 100%;
                padding: 8rem 2rem;
            }
            .close {
                &:link,
                &:visited {
                  color: $color-grey;
                  position: absolute;
                  top: 1%;
                  right: 5%;
                  @include responsive(tablet){
                    top: 7%;
                    right: 7%;
                  }
                  @include responsive(phone){
                    top: 7%;
                    right: 25%;
                  }
                  font-size: 5rem;
                  text-decoration: none;
                  display: inline-block;
                  transition: all 0.2s;
                }
            
                &:hover {
                  color: $color-primary;
                }
            }
           
            h2 {
              font-size: 3rem;
              margin-top: 1.7rem;
              margin-bottom: 3rem;
              text-align: center;
            }
            .info-box{
                padding: 1.5rem;
                @include responsive(tablet){
                    padding: 5rem 15rem;
                }
                transition: all 0.5 ease-in-out;
                cursor: pointer;
                -webkit-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
                -moz-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
                box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
                &:not(:last-child){
                    margin-bottom: 2.5rem;
                }
                h5 {
                    font-size: 2rem;
                    text-align: center;
                    margin: 0 0 2rem;
                }
                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-grey;
                    font-size: 1.95rem;
                    font-weight: 300;
                    line-height: 1.4rem;
                    margin: 0 0 2rem;
                    .fa{
                        margin-right: 1rem;
                    }
                    .fa-skype{
                        color: #00d8ff;
                    }
                    .fa-envelope{
                        color: #c24134;
                    }
                    .fa-globe{
                        color: #007AF8;
                    }
                }
                

            }
    
            

        }
        .form{
            order: 1;
            width: 50%;
            color: $color-grey;
            @include responsive(tablet){
                display: none;
            }
            h2{
                font-size: 3rem;
                margin-top: 1.7rem;
                margin-bottom: 3rem;
            }
            &__group:not(:last-child) {
                margin-bottom: 2rem;
            }
            
            &__input, &__text{
                font-size: 1.5rem;
                font-family: inherit;
                padding: 1.5rem 2rem;
                border-radius: 2px;
                background-color: rgba($color-white, 0.2);
                border: none;
                border-bottom: 3px solid transparent;
                width: 90%;
                display: block;
                color: inherit;
                transition: all 0.3s;
                @include responsive(tablet){
                  width: 100%;
                }
                &:focus {
                    outline: none;
                    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
                    border-bottom: 3px solid $color-primary;
                }
                &:focus:invalid{
                    border-bottom: 3px solid $color-danger;
                }
                &::-webkit-input-placeholder {
                    color: $color-grey;
                }
            }
            &__btn{
                font-size: 1.75rem;
                padding:1rem 2rem;
                cursor: pointer;
                // border-radius: 0;
                border: none;
                outline: none;
            }
        }
        
    }
    // open popup
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        opacity: 1;
        transform:  scale(1);
        @include responsive(phone) {
            width: fit-content;
        }
    }
    
}