
/* ---------------------- Contact section  -------------*/

#contact-cta{
    align-items: center;
    background: $color-grey;
    padding: 6rem 0 12rem 0;
    text-align: center;
    .title{
        font-size: 3.5rem;
        color: $color-dark-grey;
        font-weight: 600;
        margin: 0;
    }
    .sub_title{
        color: $color-light-grey;
        font-size: 2.2rem;
        text-align: center;
        width: 600px;
        max-width: 100%;
        display: block;
        margin: 1rem auto 4rem auto;
    }
}


.contact{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    width: 100%;
    min-height: 100vh;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, 0.3);
    }
    &__content{
        background: #122647;
        position: relative;
        height: 70vh;
        width: 90%;
        max-width: 110rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        .form{
            width: 50%;
            background: red;
            &__group:not(:last-child) {
                margin-bottom: 2rem;
            }
            
            &__input , &__text{
                font-size: 1.5rem;
                font-family: inherit;
                padding: 1.5rem 2rem;
                border-radius: 2px;
                background-color: rgba($color-white, 0.2);
                border: none;
                border-bottom: 3px solid transparent;
                width: 90%;
                display: block;
                color: inherit;
                transition: all 0.3s;
                @include responsive(tablet){
                  width: 100%;
                }
                &:focus {
                    outline: none;
                    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
                    border-bottom: 3px solid $color-primary;
                }
            }
            &__text{
                padding:10rem 0;
            }
        }
    }
    
}