.skills{
    // @include clearfix;
    @supports(display: grid){
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
        gap: 3rem;
    }
    @include responsive(phone){
        width: 100%;
        grid-template-columns:  minmax(35rem, 1fr);
    }
    padding: 3rem 0 8rem 0;
    position: relative;
    .skill{
        background:  $color-grey;
        float: left;
        width: 31%;
        // height: 330px;
        @supports(display: grid){
            width: auto;
            // margin-top: 0;
        }
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.5;
        margin: -8rem 1% 0 1%;
        padding: 3rem 2.5% 4rem 2.5%;
        text-align: center;
        position: relative;
        border-radius: .5rem;
        box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.8);
        -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
        -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
        z-index: 10;
        @include responsive(tablet){
            margin-top:0 ;
        }
        h3{
            margin: 0;
            margin-bottom: 1rem;
            font-size: 2.5rem;
            color: $color-dark-grey;
        }
        .dev-icons{
            display: flex;
            justify-content: center;
            .fab,.fas{
                margin: 0 10px 10px 10px;
                font-size: 2.5rem;
            }
        }
        p{
            padding: 0 0 2rem 0;
            color: $color-dark-grey;
        }
    }
}
