@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');



/* ---------------------- Global styles -------------*/

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include responsive(tablet-land){
      font-size: 56%; // 56.25% of 16px = 9px = 1rem; width < 1200
    }

    @include responsive(tablet){
      font-size: 50%; // 50% of 16px = 8px = 1rem; width < 900
    }

    @include responsive(phone){
      font-size: 40%; // 50% of 16px = 8px = 1rem; width < 600
    }
   
    @include responsive(big-desktop){
      font-size: 75%; // 75% of 16px = 12px = 1rem width > 1800
    }
}


body{
    background: $color-grey;
    box-sizing: border-box;

  }

a{
    text-decoration: none;
    color: $color-dark-grey;
}

li{
    list-style: none;
}
::selection{
  background-color: $color-primary;
}
.bbody-container{
  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end grid-start] minmax(6rem, 1fr)    
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
    minmax(6rem, 1fr) [grid-end];    

}