@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');



/* ---------------------- Global styles -------------*/

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: $dark_grey;
}
li{
    list-style: none;
}
